# Dependency Directories
node_modules/
dist/
target/
build/
.env

# Logs & temporary files
*.log
npm-debug.log*

# IDE Metadata
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS metadata
.DS_Store
Thumbs.db
